---
import '../../css/components/homepage/TestimonialSection.css';
---

<section id="testimonial-section" class="section">
    <div class="container">
        <div class="flex">
            <div class="top-content">
                <h2 class="section-heading">Our Customer Reviews</h2>
            </div>
            <ul class="bottom-content">
                <li class="card">
                    <div class="card-header">
                        <div class="logo-wrapper">
                            <img class="card-icon" src={`${import.meta.env.BASE_URL}/favicon.svg`} alt="business logo" loading="lazy" decoding="async" />
                        </div>
                        <div class="author-info">
                            <span class="name">Bill Bob<br/></span>
                            <span class="source"><strong>Facebook Review</strong></span>
                        </div>
                    </div>
                    <div class="rating-wrapper">
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <h3 class="rating-number">5 / 5 stars</h3>
                    </div>
                    <div class="quote-wrapper">
                        <p class="quote">
                            Watts On Electric did an amazing job rewiring our 1950s vintage home. They were professional, knowledgable, and finished they job way ahead of schedule. I couldn't be happier with the results and highly recommend them!
                        </p>
                    </div>
                    <div class="quotation-wrapper">
                        <img class="card-icon" src={`${import.meta.env.BASE_URL}/Icons/SlantedBlockQuote.svg`} alt="quotation mark" loading="lazy" decoding="async" />
                    </div>
                </li>
                <li class="card">
                    <div class="card-header">
                        <div class="logo-wrapper">
                            <img class="card-icon" src={`${import.meta.env.BASE_URL}/favicon.svg`} alt="business logo" loading="lazy" decoding="async" />
                        </div>
                        <div class="author-info">
                            <span class="name">Joe Harmo<br/></span>
                            <span class="source"><strong>Facebook Review</strong></span>
                        </div>
                    </div>
                    <div class="rating-wrapper">
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <h3 class="rating-number">5 / 5 stars</h3>
                    </div>
                    <div class="quote-wrapper">
                        <p class="quote">
                            After experiencing frequent power issues, I called WattsOn to upgrade my electrical panel. They explained everything clearly and did excellent work. No more tripped breakers!
                        </p>
                    </div>
                    <div class="quotation-wrapper">
                        <img class="card-icon" src={`${import.meta.env.BASE_URL}/Icons/SlantedBlockQuote.svg`} alt="quotation mark" loading="lazy" decoding="async" />
                    </div>
                </li>
                <li class="card">
                    <div class="card-header">
                        <div class="logo-wrapper">
                            <img class="card-icon" src={`${import.meta.env.BASE_URL}/favicon.svg`} alt="business logo" loading="lazy" decoding="async" />
                        </div>
                        <div class="author-info">
                            <span class="name">Tony Totino<br/></span>
                            <span class="source"><strong>Facebook Review</strong></span>
                        </div>
                    </div>
                    <div class="rating-wrapper">
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <svg width="24" height="24" fill="#FFD700" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-label="Star">
                            <path d="M12 .587l3.668 7.568L24 9.423l-6 5.854 1.42 8.287L12 18.897l-7.42 4.667L6 15.277 0 9.423l8.332-1.268z"/>
                        </svg>
                        <h3 class="rating-number">5 / 5 stars</h3>
                    </div>
                    <div class="quote-wrapper">
                        <p class="quote">
                            I had a great experience with WattsOn Electric. They installed new lighting fixtures in my home and the results are fantastic. The team was friendly and efficient.
                        </p>
                    </div>
                    <div class="quotation-wrapper">
                        <img class="card-icon" src={`${import.meta.env.BASE_URL}/Icons/SlantedBlockQuote.svg`} alt="quotation mark" loading="lazy" decoding="async" />
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>