---
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';

const {title, description} = Astro.props;

const currentPath = Astro.url.pathname;

import globalCss from '../css/Global.css?url';
import navBarCss from '../css/components/NavBar.css?url';
import footerCss from '../css/components/Footer.css?url';
---

<!doctype html>
<html lang="en">
	<head>
		<!-- This project does not setup meta data for off page SEO and visual styling -->
		<!-- This is intentional as it is just an example project of what work I can do -->

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}/>

		<!-- Preload global styles -->
		<link rel="preload" href={globalCss} as="style"/>
		<link rel="stylesheet" type="text/css" href={globalCss} />

		<!-- Preload NavBar styles -->
		<link rel="preload" href={navBarCss} as="style"/>
		<link rel="stylesheet" type="text/css" href={navBarCss} />

		<!-- Preload Footer styles -->
		<link rel="preload" href={footerCss} as="style"/>
		<link rel="stylesheet" type="text/css" href={footerCss} />

		<!-- Setting Security Headers here since it is just portfolio -->
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests; default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self' data:; font-src 'self'; connect-src 'self'; object-src 'none'; base-uri 'self'; form-action 'self';"/>
		<meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains; preload"/>
		<meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin"/>
		<meta http-equiv="Cross-Origin-Embedder-Policy" content="require-corp"/>
		<meta http-equiv="Cross-Origin-Resource-Policy" content="same-origin"/>
	</head>
	<body>
		<header>
			<NavBar currentPath={currentPath}/>
		</header>
		<main>
			<slot/>
		</main>
		<footer>
			<Footer currentPath={currentPath}/>
		</footer>
	</body>
</html>
